# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.env

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json

yapf-debug.log

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables file
.env

# Local env files
.env.*

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# pytest
.pytest_cache/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
